<!DOCTYPE html>
<html lang="en">
    <h1>To Do List</h1>
    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input class="btn btn-info" type="submit" name="Create Task">
    </form>
    <!--<a class="btn" href="#">Export CSV</a>  |  -->
    <form action="/export_csv">
		<button class="btn">Export CSV</button>
	</form>
    <form>
        <a class="btn" href="{% url 'import-csv' %}">Import CSV</a>
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Complete</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ i.title }}</td>
                <td>{{ i.complete }}</td>
                <td><a class="btn" href="{% url 'update-Task' i.id %}">Update</a>
                    <a class="btn" href="{% url 'delete-Task' i.id %}">Delete</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</html>